body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', serif;
	background-color: #696969;
	
}

ul {
 padding: 0px;
 margin: 0px;
 background-color: #000000;
}﻿

.nav {
	background-color: #000000;
	color: #696969;
	list-style: none;
	text-align: right;
	padding: 20px 0 20 px 0;
	
}

.nav > li {
	display: inline-block;
	padding-right: 50px;
	
}

.nav >li >a {
	text-decoration: none;
	color: #8B0000;
}

.nav > li > a:hover {
	color: #clclcl
}

.logo {
	color: #000000
	float: left;
	padding-left: 25px;
	font-size: 16px;
	font-weight: bold;
	
}

.logo > a {
	text-decoration: none;
	color: #000000;
	
}

.logo > a:hover {
	text-decoration: underline;
	color:#808080;
	
}

.banner {
	width: 100%;
	display: block;
	
}

.banner > banner-image {
	width: 100%;
	display: block;

}









